W2/W2A1[[:space:]]Residual[[:space:]]Networks/models/resnet50.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
W2/W2A1[[:space:]]Residual[[:space:]]Networks/resnet50.h5 filter=lfs diff=lfs merge=lfs -text
W3/W3A1[[:space:]]Car[[:space:]]detection[[:space:]]with[[:space:]]YOLO/model_data/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
